.doubleSection {
    display: flex;
    justify-content: space-between;
}

.doubleSection section {
    max-width: 49.5%;
    min-width: 49.5%;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .doubleSection {
        flex-direction: column;
        gap: 20px;
    }

    .doubleSection section {
        max-width: 100%;
        min-width: 100%;
    }
}